version: "3.9"

services:
  db:
    image: postgres:16
    container_name: esports_pg
    restart: always
    environment:
      POSTGRES_USER: esports_user
      POSTGRES_PASSWORD: esports_pass
      POSTGRES_DB: esports_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: esports_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pg_data:
